<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309641440857-fn0a9htt6b0teqph2a0dt426sn36988k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309641440857-fn0a9htt6b0teqph2a0dt426sn36988k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>309641440857-7k7bsenle50270fs5h5q0f60kllv9kpj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFPELoZfkIjeMQpE4izDJKplL41KLCgxE</string>
	<key>GCM_SENDER_ID</key>
	<string>309641440857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.provider.rootscare</string>
	<key>PROJECT_ID</key>
	<string>roots-care</string>
	<key>STORAGE_BUCKET</key>
	<string>roots-care.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309641440857:ios:edfa3c8c9df42617720b48</string>
</dict>
</plist>