<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Provider</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>comgooglemaps-x-callback</string>
		<string>googleMaps</string>
    <string>fbapi</string>
    <string>fb-messenger-share-api</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>teq-dev-var19.co.in</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Rootscare would like to access your Camera for profile or patient photos. Your photos won't be shared without your permission. It is safe and secure.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Rootscare App  would like to access your location for address or near by nurses or doctors, it is safe and secure.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Rootscare App  would like to access your location for address or near by nurses or doctors, it is safe and secure.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Rootscare App  would like to access your location for address or near by nurses or doctors, it is safe and secure.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Your message to user when the microphone is accessed for the first time</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Rootscare would like to access your Photos for profile or patient photos. Your photos won't be shared without your permission. It is safe and secure. </string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Rootscare would like to access your Photos for profile or patient photos. Your photos won't be shared without your permission. It is safe and secure.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Rubik-Black.ttf</string>
		<string>Rubik-BlackItalic.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-BoldItalic.ttf</string>
		<string>Rubik-ExtraBold.ttf</string>
		<string>Rubik-ExtraBoldItalic.ttf</string>
		<string>Rubik-Italic.ttf</string>
		<string>Rubik-Light.ttf</string>
		<string>Rubik-LightItalic.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-MediumItalic.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>Rubik-SemiBold.ttf</string>
		<string>Rubik-SemiBoldItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>



	<key>branch_universal_link_domains</key>
    <array>
        <string>servicerootscare.app.link</string>
        <string>servicerootscare-alternate.app.link</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>servicerootscare</string>
                <string>fb255642823428638</string>
                <string>255642823428638</string>
            </array>
            <key>CFBundleURLName</key>
            <string>io.Branch.servicerootscare</string>
        </dict>
    </array>
    
    <key>FacebookAppID</key>
    <string>255642823428638</string>
    <key>FacebookClientToken</key>
    <string>a07d69b4b34ad773ccf6126648037c40</string>
    <key>FacebookDisplayName</key>
    <string>Service Rootscare</string>
    
    
    <key>branch_key</key>
    <dict>
        <key>live</key>
        <string>key_live_ll9Sq8lJLcf5V6AQCb2UbfbiurewJHPK</string>
    </dict>

</dict>
</plist>
